body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#header {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;
}
#header h1 {
    text-align: left;
    font-weight: bold;
}
#editor {
  margin-top: 20px;
}
pre {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  max-height: 300px;
  overflow-y: auto;
}
/* Esconde os botões "Delete Last" e "Delete All" */
.json-editor-btntype-deletelast,
.json-editor-btntype-deleteall,
.json-editor-btntype-properties,
.json-editor-btn-moveup,
.json-editor-btn-movedown {
  display: none !important;
}
.flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.form {
    padding-left: 80px;
}

#fluxo-processo {
  text-align: center;
  background-color: white;
  margin: 0px !important;
  padding: 20px;
  border-left: 1px solid #dfdfdf;
}

#lista-processos {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 22px;
  position: sticky;
  top: 0;
  padding-top: 20px;
}

#lista-processos li {
  text-align: left;
  font-weight: bold;}

li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(15, 173, 86);
    /* border: solid 2px rgb(15, 173, 86); */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: relative;
}

li span::after {
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: rgb(15, 173, 86);
    transform: translateX(-50%);
}

#lista-processos li:last-child span::after {
    display: none;
}

#lista-processos li.destacado {
  color: rgb(15, 173, 86);
}

.bloco-explicacao {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.json-editor-btntype-delete {
  color: white !important;
  background-color: red !important;
  border-color: darkred !important;
}

.json-editor-btntype-delete:hover {
  background-color: darkred !important;
}

.bloco-explicacao button {
  margin-top: 10px;
}

.bloco-explicacao p {
  margin: 5px 0;
}
